<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/site.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Foorum.io</title>

{% extends "site_layout.html" %}

{% block content %}

<form action="/admin/ban" method="post">
  <h2>Aseta käyttäjä kieltoon</h2>
  <a>Valitse käyttäjä:</a>
  <br>
  <br>
  <input list="user" name="ban_user" class="userlist">
  <datalist id="user" name="ban_user" class="userlist">
      {% for user in users %}
      <option value="{{user.username}}">
      {% endfor %}
  </datalist>
  <br>
  <br>
  <a>Syy kiellolle:</a>
  <br>
  <input type="text" name="ban_reason">
  <br>
  {% for message in messages %}
  <a style="color: red">{{message}}</a>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <button type="submit" class="confirmDeleteButton"> Aseta kieltoon</button>
</form> 


<form action="/admin/unban" method="post">
  <h2>Poista käyttäjä kiellosta</h2>
  <a>Valitse käyttäjä:</a>
  <br>
  <br>
  <input list="banned_user" name="unban_user" class="userlist">
  <datalist id="banned_user" name="unban_user" class="userlist">
      {% for user in banned_users %}
      <option value="{{user.username}}">
      {% endfor %}
  </datalist>
  <br>
  {% for message in unban_messages %}
  <a style="color: red">{{message}}</a>
  {% endfor %}
  <br>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <button type="submit" class="confirmDeleteButton">Poista kiellosta</button>
</form> 

{% endblock %}