<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/login.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Foorum.io</title>

{% extends "signin_layout.html" %}
{% block content %}
<form action="/login" method="POST">
    <h2>Kirjaudu sisään</h2>
    <label for="username">Käyttäjänimi:</label>
    <br>
    <br>
    <input type="text" name="username">
    <br>
    <br>
    <label for="password">Salasana:</label>
    <br>
    <br>
    <input type="password" name="password">
    <br>
    <br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Kirjaudu sisään">
    <br>

    {% for message in messages %}
        <p style="color:red;"> {{ message }} </p>
        <br>
    {% endfor %}

    <br>
    <p>Eikö sinulla ole vielä tiliä? <a href="/signup">Luo uusi tili</a></p>
</form>
{% endblock %}