<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/site.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Foorum.io</title>

{% extends "site_layout.html" %}

{% block content %}

<div class=thread>
    <h1>{{thread_info.thread_header}}</h1>
    {% if thread_info.auth_level == 2 %}
    <h3 style=color:orange;>{{thread_info.username}}</h3>
    {% endif %}

    {% if thread_info.auth_level == 1 %}
    <h3 style=color:yellow;>{{thread_info.username}}</h3>
    {% endif %}

    {% if thread_info.auth_level == 0 %}
    <h3>{{thread_info.username}}</h3>
    {% endif %}
    <br>
    <h2>{{thread_info.thread_desc}}</h2>
    <br>
    <br>
    <a>Julkaistu: {{thread_info.sent_at.strftime("%d.%m.%Y %H:%M")}}</a>
    <br>
    {% if thread_info.edited_at %}
    <a>Muokattu: {{thread_info.edited_at.strftime("%d.%m.%Y %H:%M")}}</a>
    {% endif %}

    {% if thread_info.username==logged_user or user_auth_level >= 1 %}
    <br>
    <button class="editButton" onclick="window.location='/thread/{{thread_info.id}}/edit'">Muokkaa</button>
    <button class="deleteButton" onclick="window.location='/thread/{{thread_info.id}}/delete'">Poista</button>
    {% endif %}
</div>

{% for reply in replies %}
<div class="reply">
    {% if reply.auth_level == 2 %}
    <h3 style=color:orange;>{{reply.username}}</h3>
    {% endif %}

    {% if reply.auth_level == 1 %}
    <h3 style=color:yellow;>{{reply.username}}</h3>
    {% endif %}

    {% if reply.auth_level == 0 %}
    <h3>{{reply.username}}</h3>
    {% endif %}

    <h2>{{reply.message}}</h2>

    <a>Julkaistu: {{reply.sent_at.strftime("%d.%m.%Y %H:%M")}}</a>

    {% if reply.edited_at %}

    <br>
    <a>Muokattu: {{reply.edited_at.strftime("%d.%m.%Y %H:%M")}}</a>

    {% endif %}

    {% if reply.username==logged_user or user_auth_level >= 1 %}
    <br>
    <button class="editButton" onclick="window.location='/replies/{{reply.id}}/edit'">Muokkaa</button>
    <button class="deleteButton" onclick="window.location='/replies/{{reply.id}}/delete'">Poista</button>
    {% endif %}
</div>
{% endfor %}

<button class="newThreadButton" onclick="window.location='/thread/{{thread_info.id}}/new'">Vastaa viestiketjuun</button>

{% endblock %}