<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/site.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Foorum.io</title>

{% extends "site_layout.html" %}

{% block content %}

{% for topic in topics %}

<div class="topic" style="cursor: pointer;" onclick="window.location='/topic/{{ topic.id }}';">
    <h1><a>{{ topic.topic_name }}</a></h1></li>
    <h3><a>{{ topic.topic_desc}}</a></h3>
    {% if topic.is_hidden %}
    <h3><a style="color: red">YKSITYINEN</h3>
    {% endif %}
    <a>Viestiketjujen määrä: {{topic.count}}</a>
</div>
{% endfor %}

{% if auth_level>=2 %}
<button type="button" onclick="window.location='/topic/new'" class="newButton"> Luo uusi aihe </button>
{% endif %}

{% endblock %}