.header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #3bc1ff;
    font-size: 1.5em;
    padding-left: 0%;
    width: 100vw;
    height: 10vh;
    text-align: center;
    vertical-align: middle;
    color: whitesmoke;
}


.signin_form {
    transform: scale(1);
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 3%;
    width: 30vw;
    height: auto;
    background-color: #e1f1f8;
    text-align: center;
    color:black;
    border-radius: 10px;
    border-color: grey;
    vertical-align: middle;
    font-size: 1.3em;
}

input[type="text"], input[type="password"]{
    width: 20vw;
    height: 5vh;
    font-size: 1em;
    border-radius: 10px;
}

input[type="submit"]{
    width: 10vw;
    height: 5vh;
    background-color: #3bc1ff;
    color: white;
    border-radius: 10px;
    font-size: 0.8em;
}

input[type="submit"]:hover{
    background-color: #7cd3fc;
}

h2 {
    font-size: 45px;
}

body {
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

