:root {
    --thread-color: #6d8bc2
}

.header ul {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3bc1ff;
}

.header li {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding-right: 2vw;
    padding-left: 2vw;

}


.header li a{
    display: flex;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: 30px;

}

.header li a:hover {
    color: hsl(0, 0%, 83%)
}

.topic {
    font-size: 1.5e;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 60vw;
    height: auto;
    background-color: #caeaf8;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 30px;
    border-color: #267da5;
    border-width: 5px;
    border-style: solid;

}

.topic :hover {
    background-color: #8aa0aa;
}

.threadList {
    margin-left: 5vw;
    margin-right: 5vw;
    height: auto;
    width: auto;
    margin-top:  50px;
    margin-bottom: 50px;
    background-color: #6d8bc2;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-size: 0.8em;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 15px;
}

.threadList :hover{
    background-color: #53688f;
}

.thread {
    margin-left: 5vw;
    margin-right: 5vw;
    height: auto;
    width: auto;
    margin-top:  50px;
    margin-bottom: 50px;
    background-color: #6d8bc2;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-size: 0.8em;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 15px;
}


.newButton {
    width: 30vw;
    height: 5vw;
    text-align: center;
    margin-top: 50px;
    margin-left: 35vw;
    margin-right: 35vw;
    background-color: #80bedb;
    font-size: 1.3em;
    margin-bottom: 20px;
    border-radius: 15px;
    border-style: hidden;
}

.newButton:hover {
    background-color: #5c899e;
}

.newThreadButton {
    width: 30vw;
    height: 5vw;
    text-align: center;
    margin-top: 50px;
    margin-left: 35vw;
    margin-right: 35vw;
    background-color: #6d8bc2;
    font-size: 1.3em;
    margin-bottom: 20px;
    border-radius: 15px;
    border-style: hidden;
}

.newThreadButton:hover{
    background-color: #53688f
}

.editButton {
    background-color: #80bedb;
    border-style: hidden;
    border-radius: 2px;
    width: 5vh;
    height: 2vh;
}
.editButton:hover{
    background-color: #70a7c0;
}

.deleteButton {
    background-color: #d34949;
    border-style: hidden;
    border-radius: 2px;
    width: 5vh;
    height: 2vh;
}

.deleteButton:hover{
    background-color: #b43e3e;
}

.confirmDeleteButton {
    width: 30vw;
    height: 5vw;
    text-align: center;
    margin-top: 50px;
    margin-left: 35vw;
    margin-right: 35vw;
    background-color: #db2822;
    font-size: 1.3em;
    margin-bottom: 20px;
    border-radius: 15px;
    border-style: hidden;
}

.confirmDeleteButton:hover {
    background-color: #ad201c;
}

.newButton:hover {
    background-color: #5c899e;
}

form {
    align-items: center;
    text-align: center;
    font-size: 25px;
}

textarea {
    resize: none;
    border-radius: 5px;
    margin-top: 25px;
    font-size: 1em;
}


input[type="text"]{
    height: 5vh;
    width: 40vw;
    font-size: 1em;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

input[type="submit"]{
    width: 15vw;
    height: 8vh;
    background-color: #3bc1ff;
    color: white;
    border-radius: 10px;
    font-size: 1.1em;
}

input[type="radio"]{
    border: 0px;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    vertical-align: middle;
}


body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

